*.exe
*.exe~
*.dll
*.so
*.dylib
lever.exe

/demo/
/backup_demo/
/old_backup/
/prod/
*.log
*.txt

.go/
vendor/
*.test
*.prof

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.codegraph
cmd_init.bat

/dist/
.build/
lever-installer-universal.exe

/_isis_temp/
*.iss~